<div class="container-fluid">
  <div class="login-wrap shadow">
    <div class="card">
      <div class="card-header text-center">
        <h5>Inicio de Sesión</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" novalidate (ngSubmit)='onSaveLogin($event)'>

          <div class="form-row">
            <div class="form-group col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="far fa-envelope"></i>
                  </span>
                </div>
                <input type="email" class="form-control" placeholder="ejemplo@email.com" name="email" formControlName="email">
              </div>
            </div>
            <ng-container class="form-group col-12" *ngIf="email.errors && email.touched; else validEmail">
              <p *ngIf="email.hasError('required')" [ngClass]="{'error': email.hasError('required')}">
                Es un campo requerido
              </p>
              <p *ngIf="email.hasError('email')" [ngClass]="{'error': email.hasError('email')}">
                Debe ser un email valido
              </p>
            </ng-container>
            <ng-template #validEmail>
              <p [ngClass]="{'text-success': email.valid,'invisible': email.pristine}">
                Email Valido
              </p>
            </ng-template>
          </div>

          <div class="form-row">
            <div class="form-group col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <input class="form-control" placeholder="contraseña" name="pwd" formControlName="pwd" type="password">
                <small class="form-text text-muted mt-1">
                  Tu contraseña debe ser entre 8-16 caracteres de longitud alfanumeríco.
                </small>
              </div>

            </div>
            <!-- respuesta de validacion del pwd -->
            <ng-container class="form-group col-12" *ngIf="pwd.errors && pwd.touched; else validPwd">
              <p *ngIf="pwd.hasError('required')" [ngClass]="{'error': pwd.hasError('required')}">
                Es un campo requerido
              </p>
              <p *ngIf="pwd.hasError('minlength')" [ngClass]="{'error': pwd.hasError('minlength')}">
                El mínimo de caracteres es de 8
              </p>
              <p *ngIf="pwd.hasError('maxlength')" [ngClass]="{'error': pwd.hasError('maxlength')}">
                El máximo de caracteres debe es de 16
              </p>
            </ng-container>
            <ng-template #validPwd>
              <p [ngClass]="{'text-success': pwd.valid, 'invisible': pwd.pristine}">
                Contraseña valida
              </p>
            </ng-template>
            <!-- / respuesta de validacion del pwd / -->
          </div>

          <div class="form-row">
            <div class="form-group col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="remember"
                  formControlName="remember">
                <label class="form-check-label" for="gridCheck">
                  Recordarme
                </label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12" id="btn-submit">
              <button class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar Sesión</button>
              <button type="button" class="btn btn-link" [routerLink]="['/olvido-clave']" >¿Olvido su contraseña?</button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-center">
        <button type="button" class="btn btn-secondary" id="btn-google" (click)="GoogleLogin()">
          Inicia Sesión con Google
        </button>
        <p class="mb-0 mt-3">No tiene una cuenta, registrate <a [routerLink]="['/register']">aquí</a></p>
      </div>
    </div>
  </div>
</div>