<div class="container-fluid">
  <div class="login-wrap shadow-sm">
    <div class="card">
      <div class="card-header text-center">
        <h4>Inicio de Sesión</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" novalidate (ngSubmit)='onSaveLogin($event)'>

          <div class="row">
            <div class="col-12">
              <div class="input-group">
                <span class="input-group-text">
                  <i class="far fa-envelope"></i>
                </span>
                <input type="email" class="form-control" placeholder="ejemplo@email.com" name="email" formControlName="email">
              </div>
            </div>
            <ng-container class="col-12" *ngIf="email.errors && email.touched; else validEmail">
              <p *ngIf="email.hasError('required')" [ngClass]="{'error': email.hasError('required')}">
                Es un campo requerido
              </p>
              <p *ngIf="email.hasError('email')" [ngClass]="{'error': email.hasError('email')}">
                Debe ser un email valido
              </p>
            </ng-container>
            <ng-template #validEmail>
              <p [ngClass]="{'text-success': email.valid,'invisible': email.pristine}">
                Email Valido
              </p>
            </ng-template>
          </div>

          <div class="row">

            <div class="col-12">
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="fas fa-lock"></i>
                </span>
                <input class="form-control" placeholder="contraseña" name="pwd" formControlName="pwd" type="password">
              </div>
            </div>
            <div class="col-12">
              <small class="form-text text-muted mt-1">
                  Tu contraseña debe ser entre 8-16 caracteres de longitud alfanumeríco.
                </small>
            </div>
            <!-- respuesta de validacion del pwd -->
            <ng-container class="col-12" *ngIf="pwd.errors && pwd.touched; else validPwd">
              <p *ngIf="pwd.hasError('required')" [ngClass]="{'error': pwd.hasError('required')}">
                Es un campo requerido
              </p>
              <p *ngIf="pwd.hasError('minlength')" [ngClass]="{'error': pwd.hasError('minlength')}">
                El mínimo de caracteres es de 8
              </p>
              <p *ngIf="pwd.hasError('maxlength')" [ngClass]="{'error': pwd.hasError('maxlength')}">
                El máximo de caracteres debe es de 16
              </p>
            </ng-container>
            <ng-template #validPwd>
              <p [ngClass]="{'text-success': pwd.valid, 'invisible': pwd.pristine}">
                Contraseña valida
              </p>
            </ng-template>
            <!-- / respuesta de validacion del pwd / -->
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="remember"
                  formControlName="remember">
                <label class="form-check-label" for="gridCheck">
                  Recordarme
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <a [routerLink]="[ '/auth/olvido-clave', ]" class="btn btn-link">¿Olvido su contraseña?</a>
            </div>
            <div class="col-12 col-md-6">
              <button type="button" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar Sesión</button>
            </div>
          </div>
        </form>
      </div>

      <hr>

      <div class="card-body text-center mt-3">
        <button type="button" class="btn" id="btn-google" (click)="GoogleLogin()">
          <i class="fab fa-google"></i>
          Inicia Sesión con Google
        </button>
      </div>

      <div class="card-footer text-center">
        <p class="mb-0 mt-3">No tiene una cuenta, registrate <a routerLink="/auth/register">aquí</a></p>
      </div>
    </div>
  </div>
</div>