$google: #DB4437;

div.login-wrap {
  display: flex;
  margin: 15% auto;
  height: fit-content;

  background: url('../../../assets/img/web/hexagon.png') repeat center;
  background-size: contain;

  border-radius: 5px;

  div.card {
    width: 90%;
    margin: 5%;

    hr {
      width: 80%;
      margin: auto;
    }

    p.error {
      color: #dc3545; //danger color from Bootstrap
      padding: 0px 5px;
      margin: none;
    }

    div.form-group#btn-submit {
      display: flex;
      flex-flow: column wrap;
    }

    button#btn-google {
      background-color: $google;
      color: whitesmoke;
      width: 75%;
    }
  }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  div.login-wrap {
    margin: 10%;

    div.card {
      width: 85%;
      margin: 12.5%;
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  div.login-wrap {
    width: 60vw;
    height: 65vh;
    margin: 5% auto;
    position: relative;

    div.card {
      width: 47.5%;
      margin: 0;
      top: 0;
      left: 0;
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}