div.card {
  img {
    width: fit-content;
    height: min(40vh,250px);
    margin: auto;
  }

  margin: 2.5% 5%;

  div.card-body > button.btn, a.btn {
    width: 95%;
    margin: 2.5%;
  }

  &:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 1);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}