div.card {

  div.card-body>button.btn,
  a.btn {
    width: 95%;
    margin: 2.5%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  div.card {
    div.card-body.actions {
      display: flex;

      button.btn,
      a.btn {
        width: 50% !important;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  div.card {
    div.actions>button.btn,
    a.btn {
      margin: auto 2.5%;
    }
  }
}