div.card {
  width: 80%;
  margin: 5%;

  div.card-body>button.btn,
  a.btn {
    width: 95%;
    margin: 2.5%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}