<div class="card shadow-sm">
  <img [src]="element.img" class="card-img-top img-fluid" *ngIf="element.stock">
  <img src="../../../assets/img/web/no_stock.svg" class="card-img-top img-fluid" *ngIf="!element.stock">
  <div class="card-body d-flex justify-content-between align-elements-baseline">
    <ng-container>
      <h5 class="card-title">{{element.denominacion}}</h5>
      <p class="card-text">{{element.precioVenta}}$</p>
    </ng-container>
  </div>
  <div class="card-body">
    <ng-container *ngIf="!element.stock; else noStock">
      <p class="card-text text-danger"><i class="far fa-times-circle"></i> Sin stock</p>
    </ng-container>
    <ng-template #noStock>
      <p class="card-text text-success"><i style="color:green" class="far fa-check-circle"></i> Stock disponible</p>
    </ng-template>
  </div>
  <div class="card-body">
    <a [routerLink]="[ '/comida', element._id ]" class="btn btn-outline-cheese">Ver detalle</a>
    <button class="btn btn-cheese" (click)="addItemCart(element,$event)" [disabled]="btnDisabled || !element.stock">Añadir</button>
    <!-- <button class="btn btn-cheese" (click)="addelementCart(element,$event)">Añadir</button> -->
  </div>
</div>
