<footer class="pt-5 mt-5 shadow bg-burger text-dark">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-5 mb-5">
        <div class="logo-wrap">
          <h2 class="mb-4">El Buen Sabor</h2>
          <img src="../../../assets/img/web/TGT_Factura.png" alt="El Buen Sabor Logo" id="logo">
        </div>
      </div>
      <div class="col-12 col-md-4 mb-5">
        <nav class="navbar-light">
          <h3>Mapa del Sitio</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a [routerLink]="[ '/inicio' ]" class="nav-link text-mayo">Home</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[ '/menu' ]" class="nav-link text-mayo">Menu</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[ '/carrito' ]" class="nav-link text-mayo">Carrito</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[ '/auth/login' ]" class="nav-link text-mayo">Inicio de Sesión</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[ '/auth/register' ]" class="nav-link text-mayo">Registro</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-12 col-md-3">
        <nav class="navbar-dark">
          <h3>Legal</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a [routerLink]="[ 'legal' ]" class="nav-link text-mayo" fragment="service">Terminos de Servicio</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[ 'legal' ]" class="nav-link text-mayo" fragment="privacy">Políticas de Privacidad</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="[ 'legal' ]" class="nav-link text-mayo" fragment="data">Políticas de Datos</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
    <hr class="bg-mayo">
    <div class="row">
      <div class="col-12 my-2">
        <h5 class="text-center"><i class="far fa-copyright"></i> El Buen Sabor</h5>
      </div>
    </div>
  </div>
</footer>
