<div class="container">
  <section id="service" class="row mt-5">
    <div class="col-12 col-md-8 text-left">
      <h1 class="mb-2">Terminos de Servicio</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos mollitia minima ipsa assumenda, alias laboriosam ex. Quia, necessitatibus nihil sapiente alias quos velit dolore animi harum fugit dolores beatae quaerat!
        Debitis aliquid quasi at nemo. Possimus ea rerum enim dolores voluptatum, labore officiis aut, tenetur deserunt saepe molestias est qui? Temporibus, omnis eos? Eaque reiciendis consectetur minus esse nesciunt qui.
        Earum culpa cum voluptatem debitis sunt harum excepturi, quod voluptas alias dolores saepe veritatis quos magnam sint consequatur expedita eaque vitae est! Architecto, laborum voluptate dolore itaque facere voluptates sint!
        Nemo deserunt, debitis nihil commodi aspernatur beatae nobis veniam consequatur officia praesentium fugit delectus? Quae animi pariatur est laborum eum, obcaecati assumenda tenetur libero temporibus, rem, optio eos dolorem deserunt?
        Quod, soluta, quaerat totam doloremque ad nulla in impedit aperiam at suscipit deleniti, ab quia. Libero minus, unde ex dignissimos maiores ratione incidunt suscipit delectus corporis reprehenderit illo nostrum nam.
      </p>
    </div>
    <div class="col-12 col-md-4 d-flex align-item-center mb-4">
      <img src="../../../assets/img/web/terms.svg" alt="Terminos de Servicio" class="img-fluid">
    </div>
  </section>
  <section id="privacy" class="row mt-5">
    <div class="col-12 col-md-8 text-left">
      <h1 class="mb-2">Políticas de Privacidad</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos mollitia minima ipsa assumenda, alias laboriosam ex. Quia, necessitatibus nihil sapiente alias quos velit dolore animi harum fugit dolores beatae quaerat!
        Debitis aliquid quasi at nemo. Possimus ea rerum enim dolores voluptatum, labore officiis aut, tenetur deserunt saepe molestias est qui? Temporibus, omnis eos? Eaque reiciendis consectetur minus esse nesciunt qui.
        Earum culpa cum voluptatem debitis sunt harum excepturi, quod voluptas alias dolores saepe veritatis quos magnam sint consequatur expedita eaque vitae est! Architecto, laborum voluptate dolore itaque facere voluptates sint!
        Nemo deserunt, debitis nihil commodi aspernatur beatae nobis veniam consequatur officia praesentium fugit delectus? Quae animi pariatur est laborum eum, obcaecati assumenda tenetur libero temporibus, rem, optio eos dolorem deserunt?
        Quod, soluta, quaerat totam doloremque ad nulla in impedit aperiam at suscipit deleniti, ab quia. Libero minus, unde ex dignissimos maiores ratione incidunt suscipit delectus corporis reprehenderit illo nostrum nam.
      </p>
    </div>
    <div class="col-12 col-md-4 d-flex align-item-center mb-4">
      <img src="../../../assets/img/web/privacy_protection.svg" alt="Políticas de Privacidad" class="img-fluid">
    </div>
  </section>

  <section id="data" class="row mt-5">
    <div class="col-12 col-md-8 text-left">
      <h1 class="mb-2">Recollección y uso de Datos</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos mollitia minima ipsa assumenda, alias laboriosam ex. Quia, necessitatibus nihil sapiente alias quos velit dolore animi harum fugit dolores beatae quaerat!
        Debitis aliquid quasi at nemo. Possimus ea rerum enim dolores voluptatum, labore officiis aut, tenetur deserunt saepe molestias est qui? Temporibus, omnis eos? Eaque reiciendis consectetur minus esse nesciunt qui.
        Earum culpa cum voluptatem debitis sunt harum excepturi, quod voluptas alias dolores saepe veritatis quos magnam sint consequatur expedita eaque vitae est! Architecto, laborum voluptate dolore itaque facere voluptates sint!
        Nemo deserunt, debitis nihil commodi aspernatur beatae nobis veniam consequatur officia praesentium fugit delectus? Quae animi pariatur est laborum eum, obcaecati assumenda tenetur libero temporibus, rem, optio eos dolorem deserunt?
        Quod, soluta, quaerat totam doloremque ad nulla in impedit aperiam at suscipit deleniti, ab quia. Libero minus, unde ex dignissimos maiores ratione incidunt suscipit delectus corporis reprehenderit illo nostrum nam.
      </p>
    </div>
    <div class="col-12 col-md-4 d-flex align-item-center mb-4">
      <img src="../../../assets/img/web/collecting_data.svg" alt="Recollección y uso de Datos" class="img-fluid">
    </div>
  </section>
</div>
