div#mobile {
    display: flex;
    align-items: center;
    width: 100%;
  
    // justify-content: space-between;
    a.navbar-brand {
      margin: auto;
    }
  }
  
  
  // // Small devices (landscape phones, 576px and up)
  // @media (min-width: 576px) { }
  
  // Medium devices (tablets, 768px and up)
  // @media (min-width: 768px) {}
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    div#mobile {
      // border: 1px solid purple;
      display: none;
    }
  
    div#desktop {
      a.navbar-brand {
        display: inline;
        font-size: 1.5rem;
        font-weight: 500;
      }
  
      ul.navbar-nav {
        display: flex;
        align-items: baseline;
  
        li.nav-item > a.nav-link {
          font-size: 1.2rem;
        }

        li.nav-item > a.nav-link.cart {
          position: relative;
          width: 55px;

          i.fa-shopping-cart {
            font-size: 1.3rem;
          }

          span.badge {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
    nav.navbar.dash{
      div.collapse#desktop {
        display: none !important;
      }
    
      div#mobile {
        display: flex !important;
        button.navbar-toggler {
          display: inline !important;
        }
      }
    }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  // @media (min-width: 1200px) {}