<shared-search-form></shared-search-form>

<div *ngIf="menu$ | async as menu; else load">
  <div class="container">
    <div class="row">
      <div class="card-wrapper-grid">
        <ng-container *ngFor="let item of menu.data">
          <app-card [element]="item"></app-card>
        </ng-container>
      </div>
    </div>
    <nav aria-label="Page navigation" class="d-flex justify-content-center mt-5">
      <ul class="pagination">
        <li class="page-item">
          <button (click)="previous()" [ngClass]="{disabled : isFirst}" type="button" class="btn btn-primary me-5" [disabled]="isFirst">Anterior</button>
        </li>
        <li class="page-item">
          <button (click)="next()" [ngClass]="{disabled : isLast}" type="button" class="btn btn-primary" [disabled]="isLast">Siguiente</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
<ng-template #load>
  <shared-spinner-load></shared-spinner-load>
</ng-template>
