.search-wrapper {
  background: url('../../../assets/img/web/search_bgd.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;
  margin-bottom: 30px;
  padding: 0.05px;

  div.search-bar {
    max-width: 80%;
    height: 40px;

    margin: 20% auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;

    input[type="search"] {

      // border: 1px solid red;
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }

      border: none;
      border-radius: 32px;
      width: 100%;
      padding-left: 25px;
      background-color: transparentize(#fff, 0.7);
      backdrop-filter: blur(7px);

      &:focus {
        outline: none;
      }
    }

    button {
      display: inline-block;
      width: 32px;
      height: 32px;
      position: absolute;
      align-self: center;
      right: 5px;
      border-radius: 50%;
      border: none;
      color: white;

      font-size: 10px;
      line-height: 10px;
      text-align: center;
      vertical-align: bottom;
    }
  }
}

#categorias {
  .icon-card-category {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 5% auto;
    cursor: pointer;
    img {
      width: 50%;
      height: 50%;
      margin: 25%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .search-wrapper {
    height: 40vh;

    div.search-bar {
      margin: 15% auto;
      height: 50px;

      input.search {
        padding-left: 30px;
        font-size: 1.25rem;
      }

      button {
        right: 10px;
        font-size: 11px;
        line-height: 11px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .search-wrapper {
    height: 40vh;

    div.search-bar {
      max-width: 65%;
      height: 60px;

      button {
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .search-wrapper {
    height: 50vh;

    div.search-bar {
      height: 70px;

      button {
        width: 54px;
        height: 54px;
        right: 10px;
      }
    }
  }
}
