#categorias {
  .icon-card-category {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 5% auto;
    cursor: pointer;
    img {
      width: 50%;
      height: 50%;
      margin: 25%;
    }
  }
}

.card-wrapper-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(min(90%,20rem),1fr));
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .search-wrapper {
    height: 40vh;

    div.search-bar {
      margin: 15% auto;
      height: 50px;

      input.search {
        padding-left: 30px;
        font-size: 1.25rem;
      }

      button {
        right: 50px;
        font-size: 11px;
        line-height: 11px;
      }
      #btnFilter {
        right: 10px;
        font-size: 11px;
        line-height: 11px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .search-wrapper {
    height: 40vh;

    div.search-bar {
      max-width: 65%;
      height: 60px;

      button {
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 18px;
        right: 60px;
      }
      #btnFilter{
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .search-wrapper {
    height: 50vh;

    div.search-bar {
      height: 70px;

      button {
        width: 54px;
        height: 54px;
        right: 80px;
      }
      #btnFilter{
        width: 54px;
        height: 54px;
        right: 10px;
        font-size: 18px;
      }
    }
  }
}
