<div class="search-wrapper">
  <div class="search-bar">
    <input type="search" class="search shadow" placeholder="Buscar . . .">
    <button class="btn btn-cheese">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>
<div class="container-fluid">
  <div class="row my-3" id="categorias">
    <!-- Filter Data -->
    <div class="col-6 col-md-3" *ngFor="let category of categories">
      <div class="icon-card-category shadow-lg">
        <img [src]="category.imgPath" alt="category.name">
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Products -->
    <div class="col-12">
      <ng-container *ngIf="artManufact$ | async as artManufact; else load">
        <app-card [element]="artManufact"></app-card>
      </ng-container>
      <ng-template #load>
        <p>Loading . . .</p>
      </ng-template>
    </div>
  </div>
</div>
