<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-center">
          <h4>Registro</h4>
        </div>
        <div class="card-body">

          <shared-usuario-form [formParent]="parentUserForm" [view]="'register'"></shared-usuario-form>

          <shared-domicilio-form [formParentDom]="parentDomicilioForm"></shared-domicilio-form>

          <div class="btn-wrap">
            <button type="submit" class="btn btn-lettuce" (click)="onSaveRegister($event)">Registrarse</button>
            <button type="button" class="btn" id="btn-google" (click)="GoogleRegister()">
              <i class="fab fa-google"></i>
              Inicia Sesión con Google
            </button>
          </div>
          <div id="legal" class="text-center">
            <p class="text-muted">
              Al registrarse Acepta los <a routerLink="/legal" fragment="service">Terminos de Servicio</a> y
              <a routerLink="/legal" fragment="privacy">Políticas de Privacidad</a>
            </p>
          </div>

        </div>

        <div class="card-footer text-center">
          <p>¿Ya tienes una cuenta?, Inicia Sesión <a routerLink="/auth/login">aqui</a></p>
        </div>
      </div>
    </div>
  </div>
</div>