<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <img src="../../../assets/img/web/page_not_found.svg" alt="Error 404 Page not found" class="img-fluid">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 mb-5">
            <h2>Página no encontrada :(</h2>
        </div>
        <div class="col-12">
            <button class="btn btn-outline-lettuce" (click)="back()">
                <i class="fas fa-arrow-left"></i> Volver a la página anterior
            </button>
        </div>
    </div>
</div>