<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">N° de pedido</th>
            <th scope="col">Esatdo</th>
            <th scope="col">Progreso</th>
            <th scope="col">Fecha</th>
            <th scope="col">Factura</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th>{{order._id}}</th>
            <td>{{order.estado}}</td>
            <td>
              <a [routerLink]="[order._id]">ver</a>
            </td>
            <td>
              {{order.fecha | date}}
            </td>
            <td>
              <button class="btn btn-primary" (click)="imprimir(order._id, $event)">Imprimir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
