<div class="container-fluid">
  <section id="land">
    <h1 class="text-center">Delivery de comidas</h1>
    <h4 class="text-center lead mt-2">Encuentra tu plato favorita en tan solo unos clicks</h4>
    <hr>
    <a [routerLink]="[ '/menu' ]" class="btn btn-lettuce my-4">Ver menu de platos</a>
  </section>
</div>
<div class="container">
  <section id="delivery-work" class="my-5">
    <div class="row">
      <div class="col-12 mb-5">
        <h1 class="text-center">¿Cómo funciona?</h1>
      </div>

      <div class="col-12 col-md-4" *ngFor="let card of cardsInfo">
        <div class="card text-center shadow">
          <img [src]="card.imgPath" class="card-img-top" alt="card.alt">
          <div class="card-body">
            <h5 class="card-title ">{{card.title}}</h5>
            <hr>
            <p class="card-text">{{card.subTitle}}</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section id="ubicacion">
    <div class="row">
      <div class="col-12 mb-5">
        <h1 class="text-center">¿Dónde estamos?</h1>
      </div>
      <div class="col-12 col-lg-9" *ngIf="config$ | async as config; else load">
        <ol-map [lat]="config.lat" [lon]="config.lng">
          <ol-radio [lat]="config.lat" [lon]="config.lng" radio="2500"></ol-radio>
          <ol-marker [lat]="config.lat" [lon]="config.lng" iconsrc="../../../assets/img/web/icon-delivery-pizza.png">
          </ol-marker>
        </ol-map>
        <div id="popup" class="ol-popup">
          <div id="popup-content"></div>
        </div>
      </div>
      <ng-template #load>
        <shared-spinner-load></shared-spinner-load>
      </ng-template>
      <div class="col-12 col-lg-3">
        <div class="card" id="horario">
          <div class="card-body">
            <h4 class="card-title text-center">Horarios</h4>
            <p class="card-text">Lunes a Domingos de 20:00 a 12:00</p>
            <p class="card-text">Sábados y Domingos de 11:00 a 15:00</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
