<div class="container-fluid">
  <section id="land">
    <h1 class="text-center">Delivery de comidas</h1>
    <h4 class="text-center lead mt-2">Encuentra tu plato favorita en tan solo unos clicks</h4>
    <hr>
    <a [routerLink]="[ '/menu' ]" class="btn btn-lettuce my-4">Ver menu de platos</a>
  </section>
</div>
<div class="container">
  <section id="delivery-work" class="my-5">
    <div class="row">
      <div class="col-12 mb-5">
        <h1 class="text-center">¿Cómo funciona?</h1>
      </div>

      <div class="col-sm-12 col-md-4" *ngFor="let card of cardsInfo">
        <div class="card text-center shadow">
          <img [src]="card.imgPath" class="card-img-top" alt="card.alt">
          <div class="card-body">
            <h5 class="card-title ">{{card.title}}</h5>
            <hr>
            <p class="card-text">{{card.subTitle}}</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <div class="row">
    <section id="ubicacion">
      <div class="col-12 mb-5">
        <h1 class="text-center">¿Dónde estamos?</h1>
      </div>
      <div class="col-12">
        <ol-map lat="-32.9022174" lon="-68.7979539" zoom="{{zoom}}">
          <ol-radio lat="-32.9022174" lon="-68.7979539" radio="2500"></ol-radio>
          <ol-marker lat="-32.9022174" lon="-68.7979539" iconsrc="https://pics.freeicons.io/uploads/icons/png/3762277491606004682-512.png">
          </ol-marker>
        </ol-map>
        <div id="popup" class="ol-popup">
          <div id="popup-content"></div>
        </div>
      </div>
    </section>
  </div>
</div>
