<section class="land">
  <div class="wrap-land-content shadow-sm">
    <h1>Delivery de comidas</h1>
    <h4>Encuentra tu comida rápida favorita en tan solo unos clicks</h4>
    <button class="btn btn-outline-dark my-4">Ver menu de platos</button>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
  </div>
</div>


<!-- <ol-map lat="-32.9022174" lon="-68.7979539" zoom="{{zoom}}">
  <ol-radio lat="-32.9022174" lon="-68.7979539" radio="2500"></ol-radio>
  <ol-marker lat="-32.9022174" lon="-68.7979539" iconsrc="https://pics.freeicons.io/uploads/icons/png/3762277491606004682-512.png">
  </ol-marker>
</ol-map> -->
