section.land {
  position: relative;
  width: 100vw;
  height: 40vh;
  padding: 0.05px;

  div.img-back {
    background: url('../../../assets/img/web/pizza_home.png') center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    filter: blur(4px);
  }
  // border: 1px solid red;

  div.wrap-land-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: 1px solid ghostwhite;
    border-radius: 10px;

    width: 90%;
    margin: 10% auto;

    backdrop-filter: blur(10px);
    h1 {
      margin-top: 5%;
      // color: $orange;
      font-size: 1.8rem;
    }
  
    h4 {
      margin-top: 2.5%;
      font-size: 1.4rem;
      font-style: italic;
      color: #212121;
    }
  }
}

section#delivery-work {
  .card {
    width: 80%;
    margin: 10% auto;
    border: none;
    img.card-img-top {
      max-width: 70%;
      margin: 15% auto;
    }
  }
}
section#ubicacion {
  width: 100%;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    section.land {
        height: 50vh;

        div.wrap-land-content {
            width: 60%;
            margin: 10% 20%;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    section.land {
        height: 70vh;
        div.wrap-land-content {
          width: 50%;
            margin: 10% auto;
        }
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}