<shared-search-form [search]="query"></shared-search-form>
<div class="container">
  <div class="row">
    <ng-container *ngIf="menuSearched && menuSearched.length >0; else notFound">
      <div class="row">
        <div class="card-wrapper-grid">
          <ng-container *ngFor="let item of menuSearched">
            <app-card [element]="item"></app-card>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-template #notFound>
      <div class="container mt-5">
        <h3>No se ha encontrado un producto con la palabra "{{query}}"</h3>
      </div>
    </ng-template>
  </div>
</div>
