<app-search-form [search]="query"></app-search-form>
<div class="container-fluid">
  <div class="row">
    <ng-container *ngIf="menuSearched && menuSearched.length >0; else notFound">
      <div class="card mt-4"  *ngFor="let item of menuSearched">
      <img class="card-img-top img-fluid" [src]="item.img" (click)="detalleProducto(item.id)">
      <h6>{{item.denominacion}}</h6>
      <p>{{item.precioVenta}}$</p>
      <a [routerLink]="[ '/comida', item._id ]" class="btn btn-outline-cheese">Ver detalle</a>
      <button class="btn btn-cheese mt-2" (click)="addItemCart(item,$event)">Añadir</button>
    </div></ng-container>
    <ng-template #notFound>
      <h3>No se ha encontrado un producto con la palabra "{{query}}"</h3>
    </ng-template>
  </div>
</div>
