<!-- <pre>
  {{usuario|json}}
</pre> -->
<ng-container *ngIf="usuario; else noDataLoad">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4">
          
          <div class="card mt-5" id="user-display-data">
            <!-- Picure -->
            <div class="card-body">
              <div class="wrapp-avatar bg-cheese">
                <ng-container *ngIf="usuario.photoURL; else noPicture">
                  <img [src]="usuario.photoURL" alt="Imagen de Perfil" class="user-img">
                </ng-container>
                <ng-template #noPicture>
                  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Imagen de Perfil" class="user-img">
                </ng-template>
                <button type="button" class="btn btn-mayo" (click)="imgInput.click()">
                  <i class="fas fa-camera"></i>
                </button>
                <input type="file" accept="image/*" name="avatar" #imgInput (change)="onFile($event)">
              </div>
              <!-- User Data -->
              <div class="card-body text-center">
                <h3 class="card-title">{{usuario.nombre}}<i class="fas fa-check-circle"></i></h3>
                <h6 class="card-subtitle mb-2 text-muted">{{usuario.email}}</h6>
              </div>
              <div class="progress" style="height: 2px;">
                <div class="progress-bar bg-lettuce" role="progressbar" [style.width]="(uploadPercent | async) + '%'"></div>
              </div>
              <div class="card-body text-left">
                <p class="card-text" *ngIf="usuario.domicilio; else noLocation">
                  {{usuario.domicilio.localidad}}, {{usuario.domicilio.calle}}, {{usuario.domicilio.numero}}.
                </p>
                <ng-template #noLocation>
                  <p class="card-text">Sin datos de domicilio.</p>
                </ng-template>
              </div>
            </div>
            <div class="card-footer bg-transparent text-center">
                <ng-container *ngIf="usuario.provider==='password'; else googleProvider">
                  <p>Registro con 'El Buen Sabor'</p>
                </ng-container>
                <ng-template #googleProvider>
                  <p>Registro con Google Sign In</p>
                </ng-template>
            </div>
            <div class="card-footer">
              <a [routerLink]="['/auth/olvido-clave']" class="btn btn-outline-burger btn-block">¿Olvido su contraseña?</a>
            </div>
          </div>
        
      </div>
      <div class="col-12 col-md-7 col-lg-8">
      </div>
    </div>
  </div>

</ng-container>
<ng-template #noDataLoad>
  <div class="spinner-wrap">
    <div class="spinner-border text-lettuce" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>