<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card mt-5" id="user-display-data">
        <!-- Picure -->
        <div class="card-body">
          <div class="wrapp-avatar bg-cheese">
            <ng-container *ngIf="cliente.photoURL; else noPicture">
              <img [src]="cliente.photoURL" alt="Imagen de Perfil" class="user-img">
            </ng-container>
            <ng-template #noPicture>
              <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Imagen de Perfil" class="user-img">
            </ng-template>
            <button type="button" class="btn btn-mayo" (click)="imgInput.click()">
              <i class="fas fa-camera"></i>
            </button>
            <input type="file" accept="image/*" name="avatar" #imgInput>
          </div>
          <!-- User Data -->
          <div class="card-body text-center">
            <h3 class="card-title">{{cliente.nombre}}<i class="fas fa-check-circle"></i></h3>
            <h6 class="card-subtitle mb-2 text-muted">{{cliente.email}}</h6>
          </div>
          <hr>
          <div class="card-body text-left">
            <p class="card-text">
              {{cliente.domicilio.localidad}}, {{cliente.domicilio.calle}}, {{cliente.domicilio.numero}}.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="card mt-5">

      </div>
    </div>
  </div>
</div>
<pre>
  {{cliente|json}}
</pre>