<form [formGroup]="childDomicilioForm" novalidate>
  <div class="row mb-5">
    <div class="col-12">

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="userCheck" formControlName="local">
        <label class="form-check-label" for="userCheck">Retiro en el local</label>
      </div>

    </div>
  </div>
  <!-- Domicilio -->
  <ng-container *ngIf="!this.childDomicilioForm.value.local">

    <div class="row">
      <div class="col-12 col-md-8">

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-road"></i>
          </span>
          <input type="text" class="form-control" placeholder="Calle" name="calle" formControlName="calle">
        </div>

        <ng-container class="col-12" *ngIf="calle.errors && calle.touched; else validCalle">
          <p *ngIf="calle.hasError('required')" [ngClass]="{'error': calle.hasError('required')}">
            Es un campo requerido
          </p>
          <p *ngIf="calle.hasError('minlength')" [ngClass]="{'error': calle.hasError('minlength')}">
            El mínimo de caracteres es de 5
          </p>
          <p *ngIf="calle.hasError('maxlength')" [ngClass]="{'error': calle.hasError('maxlength')}">
            El máximo de caracteres debe es de 25
          </p>
        </ng-container>
        <ng-template #validCalle>
          <p [ngClass]="{'text-success': calle.valid, 'invisible': calle.pristine}">
            nombre de Calle valida
          </p>
        </ng-template>
      </div>
      <!--  -->
      <div class="col-12 col-md-4">

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-sort-numeric-up-alt"></i>
          </span>
          <input type="number" class="form-control" placeholder="Numeración" name="numero" formControlName="numero">
        </div>

        <ng-container class="col-12 col-md-6 text-left" *ngIf="numero.errors && numero.touched; else validNumero">
          <p *ngIf="numero.hasError('required')" [ngClass]="{'error': numero.hasError('required')}">
            Es un campo requerido
          </p>
          <p *ngIf="numero.hasError('minlength')" [ngClass]="{'error': numero.hasError('minlength')}">
            El mínimo de caracteres es de 1
          </p>
        </ng-container>
        <ng-template #validNumero>
          <p [ngClass]="{'text-success text-left': numero.valid, 'invisible': numero.pristine}">
            Numeración Valida
          </p>
        </ng-template>
      </div>
      <!--  -->
      <div class="col-12 col-md-4">

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <select class="form-select" formControlName="localidad">
            <option value="" disabled selected>Distrito</option>
            <optgroup label="Guaymallén">
              <option *ngFor="let distrito of guaymallen" [ngValue]="distrito.denominacion">{{distrito.denominacion}}
              </option>
            </optgroup>
          </select>
        </div>

        <ng-container class="col-12 col-md-6 text-left" *ngIf="localidad.errors && localidad.touched; else validLocalidad">
          <p *ngIf="localidad.hasError('required')" [ngClass]="{'error': localidad.hasError('required')}">
            Es un campo requerido
          </p>
        </ng-container>
        <ng-template #validLocalidad>
          <p [ngClass]="{'text-success': localidad.valid, 'invisible': localidad.pristine}">
            Opción Valida
          </p>
        </ng-template>
      </div>
      <div class="col-12 col-md-4"></div>
      <div class="col-12 col-md-4">
        <button (click)="mostrarMapa($event)" class="btn btn-outline-cheese" data-bs-toggle="modal" data-bs-target="#registerMapModal">
          <i class="fas fa-map-marked-alt"></i>
          Abrir mapa
        </button>
      </div>
    </div>

  </ng-container>

</form>

<!-- Modal -->
<div class="modal fade" id="registerMapModal" tabindex="-1" aria-labelledby="registerMapLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerMapLabel">Mapa</h5>
        <button #btnClose (click)="cleanMap()" type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
      <button class="d-none" #btnCloseComplete type="hidden" name="button" data-bs-dismiss="modal"
      aria-label="Close"></button>
      <button class="d-none" #btnCloseComplete type="hidden" name="button" data-bs-dismiss="modal"
      aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <ol-map [readonly]=false lat="-32.9022174" lon="-68.7979539">
        <ol-radio lat="-32.9022174" lon="-68.7979539" radio="2500"></ol-radio>
        <ol-marker lat="-32.9022174" lon="-68.7979539"
        iconsrc="https://pics.freeicons.io/uploads/icons/png/3762277491606004682-512.png">
      </ol-marker>
    </ol-map>
    <p id="infocoords"></p>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="cleanMap()" class="btn btn-outline-dark" data-bs-dismiss="modal"
    aria-label="Close">Close</button>
    <button type="button" class="btn btn-cheese" (click)="saveCoords()">Save changes</button>
  </div>
</div>
</div>
</div>
