<div class="search-wrapper">
  <div class="search-bar">
    <input [(ngModel)]="search" (ngModelChange)="searchChange($event)" type="search" class="search shadow" placeholder="Buscar . . ." required>
    <button *ngIf="search != ''" id="btnCloseDatalist" [disabled]='search == ""' class="btn" type="button" name="button" (click)="cleanSearch()">
      <i class="fas fa-times-circle"></i>
    </button>
    <button [disabled]='search == ""' (click)="searchQuery()" class="btn btn-cheese">
      <i class="fas fa-search"></i>
    </button>
    <button id="btnFilter" class="btn btn-cheese" data-bs-toggle="modal" data-bs-target="#modalFilter">
      <i class="fas fa-sliders-h"></i>
    </button>
  </div>
  <ng-container *ngIf="datalist$ | async as datalist">
    <div class="list-sample">
      <div class="card">

        <ng-container *ngIf="datalist.length; else noResult">
          <div class="list-group list-group-flush" *ngFor="let item of datalist">
            <a class="list-group-item" [routerLink]="[ '/comida', item._id ]">{{item.denominacion}}</a>
          </div>
        </ng-container>
        <ng-template #noResult>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Sin resultados</li>
          </ul>
        </ng-template>

      </div>
    </div>
  </ng-container>
</div>

<div class="modal fade" id="modalFilter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtrar</h5>
        <button #btnClose type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Filtrar por</label>
          <select class="form-select" id="inputGroupSelect01" [(ngModel)]="filter" (ngModelChange)="filterChange($event)">
            <option [value]="'drinkfood'">Comida/Bebida</option>
            <option [value]="'food'">Solo Comida</option>
            <option [value]="'drink'">Solo Bebida</option>
          </select>
        </div>
        <div class="food" *ngIf="foodCheck">
          <h5>Comidas: </h5>
          <div class="form-check">
            <input [value]="'COMIDA'" [(ngModel)]="category" class="form-check-input" type="radio" name="flexRadioDefault" id="radioFood">
            <label class="form-check-label" for="radioFood">
              TODO
            </label>
          </div>
          <div class="form-check" *ngFor="let comida of categoryFood$ | async">
            <input [value]="comida._id" [(ngModel)]="category" class="form-check-input" type="radio" name="flexRadioDefault" id="radioFood">
            <label class="form-check-label" for="radioFood">
              {{comida.denominacion}}
            </label>
          </div>
        </div>

        <div class="drink" *ngIf="drinkCheck">
          <h5>Bebidas: </h5>
          <div class="form-check">
            <input [value]="'BEBIDA'" [(ngModel)]="category" class="form-check-input" type="radio"name="flexRadioDefault" id="drinkFood">
            <label class="form-check-label" for="drinkFood">
              TODO
            </label>
          </div>
          <hr>
          <h6>Bebidas Sin Alcohol</h6>
          <div class="form-check" *ngFor="let bebida of noAlcoholDrink">
            <input [value]="bebida.id" [(ngModel)]="category" class="form-check-input" type="radio" name="flexRadioDefault" id="drinkFood">
            <label class="form-check-label" for="radioFood">
              {{bebida.denominacion}}
            </label>
          </div>
          <hr>
          <h6>Bebidas Con Alcohol</h6>
          <div class="form-check" *ngFor="let bebida of alcoholDrink">
            <input [value]="bebida.id" [(ngModel)]="category" class="form-check-input" type="radio" name="flexRadioDefault" id="drinkFood">
            <label class="form-check-label" for="radioFood">
              {{bebida.denominacion}}
            </label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="searchFilter()">Aplicar</button>
      </div>
    </div>
  </div>
</div>