.search-wrapper {
  background:linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),url('../../../../assets/img/web/search_bgd.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;
  margin-bottom: 30px;
  padding: 0.05px;
  position: relative;

  div.search-bar {
    max-width: 80%;
    height: 40px;
    position: relative;
    margin: 20% auto;
    display: flex;
    justify-content: center;
    align-content: center;

    input[type="search"] {

      // border: 1px solid red;
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }

      border: none;
      border-radius: 32px;
      width: 100%;
      padding-left: 25px;
      background-color: transparentize(#fff, 0.7);
      backdrop-filter: blur(7px);

      &:focus {
        outline: none;
      }
    }

    button {
      display: inline-block;
      width: 32px;
      height: 32px;
      position: absolute;
      align-self: center;
      right: 40px;
      border-radius: 50%;
      border: none;
      color: white;

      font-size: 10px;
      line-height: 10px;
      text-align: center;
      vertical-align: bottom;
    }
    #btnCloseDatalist{
      display: inline-block;
      width: 42px;
      height: 42px;
      position: absolute;
      align-self: center;
      right: 75px;
      border-radius: 50%;
      border: none;
      color: #c71717;

      font-size: 30px;
      line-height: 30px;
      text-align: center;
      vertical-align: bottom;
    }
    #btnFilter{
      display: inline-block;
      width: 32px;
      height: 32px;
      position: absolute;
      align-self: center;
      right: 5px;
      border-radius: 50%;
      border: none;
      color: white;

      font-size: 10px;
      line-height: 10px;
      text-align: center;
      vertical-align: bottom;
    }
  }
  // Data list
  .list-sample {
    z-index: 1050;
    width: 100%;
    position: absolute;
    top: 105px;
  }
  .card{
    width: 70%;
    margin: 0 15%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .list-sample {
    top: 125px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .search-wrapper {
    margin-bottom: 15px;
    div.search-bar {
      margin: 5% auto;
      height: 50px;

      input.search {
        padding-left: 30px;
        font-size: 1.25rem;
      }

      button {
        right: 50px;
        font-size: 11px;
        line-height: 11px;
      }
      #btnCloseDatalist{
        right: 90px;
        font-size: 30px;
        line-height: 11px;
      }
      #btnFilter {
        right: 10px;
        font-size: 11px;
        line-height: 11px;
      }
    }
    // Data list
    .list-sample {
      top: 90px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .search-wrapper {
    height: 30vh;
    margin-bottom: 10px;
    div.search-bar {
      max-width: 65%;
      height: 60px;

      button {
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 18px;
        right: 60px;
      }
      #btnCloseDatalist{
        width: 55px;
        height: 55px;
        font-size: 45px;
        line-height: 10px;
        right: 115px;
      }
      #btnFilter{
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 18px;
      }
    }
    // Data list
    .list-sample {
      top: 115px;
    }
    .card{
      width: 65%;
      margin: 0 17.5%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .search-wrapper {
    div.search-bar {
      height: 70px;

      button {
        width: 54px;
        height: 54px;
        right: 80px;
      }
      #btnCloseDatalist{
        width: 55px;
        height: 55px;
        font-size: 45px;
        right: 150px;
      }
      #btnFilter{
        width: 54px;
        height: 54px;
        right: 10px;
        font-size: 18px;
      }
    }

    // Data list
    .list-sample {
      top: 120px;
    }
  }
}

@media (min-width: 1400px) {
  .search-wrapper {
    // Data list
    .list-sample {
      top: 150px;
    }
  }
}
