.search-wrapper {
  background: url('../../../../assets/img/web/search_bgd.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;
  margin-bottom: 30px;
  padding: 0.05px;
  position: relative;

  div.search-bar {
    max-width: 80%;
    height: 40px;
    position: relative;
    margin: 20% auto;
    display: flex;
    justify-content: center;
    align-content: center;

    input[type="search"] {

      // border: 1px solid red;
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
      }

      border: none;
      border-radius: 32px;
      width: 100%;
      padding-left: 25px;
      background-color: transparentize(#fff, 0.7);
      backdrop-filter: blur(7px);

      &:focus {
        outline: none;
      }
    }

    button {
      display: inline-block;
      width: 32px;
      height: 32px;
      position: absolute;
      align-self: center;
      right: 40px;
      border-radius: 50%;
      border: none;
      color: white;

      font-size: 10px;
      line-height: 10px;
      text-align: center;
      vertical-align: bottom;
    }
    #btnFilter{
      display: inline-block;
      width: 32px;
      height: 32px;
      position: absolute;
      align-self: center;
      right: 5px;
      border-radius: 50%;
      border: none;
      color: white;

      font-size: 10px;
      line-height: 10px;
      text-align: center;
      vertical-align: bottom;
    }
  }
  // Data list
  .list-sample {
    z-index: 3000;
    width: 100%;
    position: absolute;
    top: 125px;
  }
  .card{
    width: 70%;
    margin: 0 15%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .search-wrapper {
    height: 40vh;

    div.search-bar {
      margin: 15% auto;
      height: 50px;

      input.search {
        padding-left: 30px;
        font-size: 1.25rem;
      }

      button {
        right: 50px;
        font-size: 11px;
        line-height: 11px;
      }
      #btnFilter {
        right: 10px;
        font-size: 11px;
        line-height: 11px;
      }
    }
    // Data list
    .list-sample {
      top: 165px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .search-wrapper {
    height: 40vh;

    div.search-bar {
      max-width: 65%;
      height: 60px;

      button {
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 18px;
        right: 60px;
      }
      #btnFilter{
        width: 48px;
        height: 48px;
        font-size: 18px;
        line-height: 18px;
      }
    }
    // Data list
    .list-sample {
      top: 215px;
    }
    .card{
      width: 65%;
      margin: 0 17.5%;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .search-wrapper {
    height: 50vh;

    div.search-bar {
      height: 70px;

      button {
        width: 54px;
        height: 54px;
        right: 80px;
      }
      #btnFilter{
        width: 54px;
        height: 54px;
        right: 10px;
        font-size: 18px;
      }
    }

    // Data list
    .list-sample {
      top: 287px;
    }
  }
}

@media (min-width: 1400px) {
  .search-wrapper {
    // Data list
    .list-sample {
      top: 332px;
    }
  }
}
