<div class="container mobile-tablet mt-4 mb-4">
  <div class="card mb-3">
    <img class="card-img-top" src="https://place-hold.it/500x300" alt="Card image cap">
    <div class="card-body">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Categoria</a></li>
          <li><a href="#"><i class="fas fa-chevron-down"></i></a>  </li>
          <li class="breadcrumb-item"><a href="#">SubCategoria</a></li>
          <li><a href="#"><i class="fas fa-chevron-down"></i></a>  </li>
          <li class="breadcrumb-item"><a href="#">{{food.denominacion}}</a></li>
        </ol>
      </nav>
      <h4>{{food.denominacion}}</h4>
      <h5 class="mt-2">Precio: ${{food.precioVenta}},00 ARS</h5> -->
      <h6>Precio con descuento por retiro en local (10%): ${{food.precioVenta-(food.precioVenta*0.1)}},00 ARS</h6>
      <p class="text-success"><i class="fas fa-check"></i> Stock Disponible</p>
      <p>Tiempo estimado de preparacion: 1hr</p>
      <p>Formas de pago disponibles:</p>
      <li>Efectivo</li>
      <li>Credito</li>
      <li>Debito</li>
      <button type="button" class="btn mt-2 mb-2 btn-outline-burger" (click)="addItemCart(food,$event)" [disabled]="btnDisabled">Agregar al carrito<i class="fas fa-cart-plus"></i></button>
    </div>
  </div>

</div>


<!-- DESKTOP ONLY -->
<div class="container desktop mt-4 mb-4">
  <nav>
    <ol class="breadcrumb border-dark border-bottom">
      <li><a href="#">Categoria</a></li>
      <li><a href="#"><i class="fas fa-chevron-right"></i></a>  </li>
      <li><a href="#">SubCategoria</a></li>
      <li><a href="#"><i class="fas fa-chevron-right"></i></a>  </li>
      <li><a href="#">{{food.denominacion}}</a></li>
    </ol>
  </nav>
  <div class="detalle col-md-12">
    <div class="img">
      <img src="{{food.img}}" alt="">
    </div>
    <div class="info border-dark border-left">
      <h4>{{food.denominacion}}</h4>
      <h5 class="mt-2">Precio: ${{food.precioVenta}},00 ARS</h5>
      <h6>Precio con descuento por retiro en local (10%): ${{food.precioVenta-(food.precioVenta*0.1)}},00 ARS</h6>
      <p class="text-success"><i class="fas fa-check"></i> Stock Disponible</p>
      <p>Tiempo estimado de preparacion: 1hr</p>
      <p>Formas de pago disponibles:</p>
      <li>Efectivo</li>
      <li>Credito</li>
      <li>Debito</li>
      <button type="button" class="btn mt-2 mb-2 btn-outline-burger" (click)="addItemCart(food,$event)" [disabled]="btnDisabled">Agregar al carrito<i class="fas fa-cart-plus"></i></button>
    </div>
  </div>
</div> 
