div.wrap-cart {
  div.card {
    border: none;
    width: 80%;
    margin: auto;

    img {
      max-width: 100%;
      height: auto;
    }

    div.wrap-button {
      display: flex;
      justify-content: center;

      input.form-control,
      button.btn {
        text-align: center;
        width: 60px;
        border: none !important;
      }

      button.btn-outline-dark {
        opacity: 75%;
      }
    }

    button.btn-danger {
      width: 100%;
    }

    button.btn-close {
      visibility: hidden;
    }
  }

  hr:last-child {
    display: none;
  }
}

img.img-fluid#emptyCart {
  max-width: 40% !important;
  margin: 5% auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  div.wrap-cart {

    div.card.shadow {
      display: flex;
      flex-direction: row;

      width: 95%;
      height: 150px;

      div.card-body {
        display: inherit;
        justify-content: baseline;

        .wrap-button {
          margin: auto;
          align-self: center;
        }

        &:first-of-type {
          width: 400px;
          flex-direction: column;
          justify-content: center;
        }

        &:last-of-type {
          max-width: 7.5%;

          align-self: center;
        }
      }
      

      img {
        display: block;
        width: 100px;
        height: 100px;
        margin: auto 3%;
        border-radius: 5px;
      }

      button.btn-close {
        visibility: visible;
      }

      button#mobile {
        display: none;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}