<div class="container">
  <ng-container *ngIf="itemsCart.length; else emptyCart">

    <div class="row mt-5">
      <div class="col-12 col-md-7 col-lg-8">

        <div class="wrap-cart mb-5">
          <ng-container *ngFor="let item of itemsCart">

            <div class="card shadow-sm">
              <img [src]="item.img" loading="lazy">
              <div class="card-body">
                <h5 class="card-title">{{item.denominacion}}</h5>
                <p>Precio: {{item.precioVenta}} $</p>
              </div>
              <div class="card-body">
                <div class="wrap-button">
                  <button class="btn btn-outline-dark" (click)="plus(item,$event)">
                    <i class="fas fa-plus"></i>
                  </button>
                  <input type="text" value='{{item.cantidad}}' class="form-control" readonly>
                  <button class="btn btn-outline-dark" (click)="minus(item,$event)">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <button class="btn btn-danger btn-block" id="mobile" (click)="deleteItemCart(item._id,$event)">
                  Quitar del carrito
                </button>
                <button type="button" class="close" (click)="deleteItemCart(item._id,$event)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>

            <hr class="my-5">
          </ng-container>
        </div>

      </div>
      <div class="col-12 col-md-5 col-lg-4">

        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Orden</h4>
            <hr class="bg-ketchup">
            <ul class="list-group list-group-flush">
              <ng-container *ngFor="let item of itemsCart">
                <li class="list-group-item">
                  <p>{{item.denominacion}}</p>
                  <p>{{item.cantidad}} x {{item.precioVenta}} = {{ item.cantidad*item.precioVenta }}$</p>
                </li>
              </ng-container>
              <li class="list-group-item">Subtotal: {{subTotal}} $</li>
            </ul>
          </div>
          <div class="card-footer">
            <a routerLink="/checkout" class="btn btn-lettuce btn-block">Ordenar</a>
            <button class="btn btn-outline-danger btn-block" (click)="deleteCart($event)">Vaciar carrito</button>
          </div>
        </div>

      </div>
    </div>

  </ng-container>
  <ng-template #emptyCart>
    <div class="row">
      <div class="col-12 text-center">
        <img src="../../../assets/img/web/empty_cart.svg" alt="Empty Cart img" id="emptyCart" class="img-fluid">
        <h1 class="mt-5 mb-3">Carrito vacio :(</h1>
        <h4><a routerLink="/menu" class="text-lettuce">Menu</a></h4>
      </div>
    </div>
  </ng-template>
</div>
