<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-tittle">
            Por favor, ingresa tu correo electronico
          </h3>
          <div class="col-12 mt-5">
            <div class="input-group">
              <span class="input-group-text">
                <i class="far fa-envelope"></i>
              </span>
              <input type="email" class="form-control" [formControl]="userEmail" placeholder="ejemplo@email.com" required>
            </div>
          </div>
          <div class="col-12 mt-3">
            <button class="btn btn-outline-burger" (click)="onReset()">Restaurar contraseña</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>