.offcanvas-start {
  width: 250px;

  div.img-wrap {
    img {
      display: block;
      max-height: 50%;
      max-width: 50%;
      margin: 12.5% 25%;
    }
  }
}
#sidebar{
  z-index: 1055;
}
// @media (max-width: 768px) {}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {}

// https://getbootstrap.com/docs/5.0/components/offcanvas/
