div.card-form{
  width: 100%;
  margin: auto;
}
#btn-google{
  button{
    background-color: #DB4437;
    i{
      color: white;
    }
  }
}
#btn-submit{
  margin-bottom: 2.5%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  div.card-form{
    width: 75%;
  }
  #btn-google{
    float: right;
    width: 45%;
  }
  #btn-submit{
    float: left;
    width: 45%;
    margin-bottom: inherit;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
