<div class="container">
  <div class="card card-form">
    <div class="card-header text-center">
      <h5>{{titulo}}</h5>
    </div>
    <div class="card-body">
      <form class="" id="formUser" [formGroup]="userForm" novalidate (ngSubmit)='onSaveRegister($event)'>
        <div class="card user">
          <div class="card-header text-center">
            <h5>Usuario <i class="fas fa-user"></i></h5>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-user-edit"></i>
                    </span>
                  </div>
                  <input class="form-control" placeholder="usuario" name="username" formControlName="username" type="text">
                </div>

              </div>
              <!-- respuesta de validacion del username -->
              <ng-container class="form-group col-12" *ngIf="username.errors && username.touched; else validName">
                <p *ngIf="username.hasError('required')" [ngClass]="{'text-danger': username.hasError('required')}">
                  Es un campo requerido
                </p>
                <p *ngIf="username.hasError('minlength')" [ngClass]="{'text-danger': username.hasError('minlength')}">
                  El mínimo de caracteres es de 5
                </p>
                <p *ngIf="username.hasError('maxlength')" [ngClass]="{'text-danger': username.hasError('maxlength')}">
                  El máximo de caracteres debe es de 20
                </p>
              </ng-container>
              <ng-template #validName>
                <p [ngClass]="{'text-success': username.valid, 'invisible': username.pristine}">
                  Nombre de usuario valido
                </p>
              </ng-template>
              <!-- / respuesta de validacion del usuario / -->
            </div>

            <div class="form-row">
              <div class="form-group col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="far fa-envelope"></i>
                    </span>
                  </div>
                  <input [readonly]="!isRegister" type="email" placeholder="ejemplo@gmail.com" class="form-control" name="email" formControlName="email">
                </div>
              </div>
              <ng-container class="form-group col-12" *ngIf="email.errors && email.touched; else validEmail">
                <p *ngIf="email.hasError('required')" [ngClass]="{'text-danger': email.hasError('required')}">
                  Es un campo requerido
                </p>
                <p *ngIf="email.hasError('email')" [ngClass]="{'text-danger': email.hasError('email')}">
                  Debe ser un email valido
                </p>
              </ng-container>
              <ng-template #validEmail>
                <p [ngClass]="{'text-success': email.valid,'invisible': email.pristine}">
                  Email Valido
                </p>
              </ng-template>
            </div>

            <div *ngIf="!isLoggedGoogle" class="form-row">
              <div class="form-group col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <input  class="form-control" placeholder="contraseña" name="pwd" formControlName="pwd" type="password">
                </div>

              </div>
              <!-- respuesta de validacion del pwd -->
              <ng-container class="form-group col-12" *ngIf="pwd.errors && pwd.touched; else validPwd">
                <p *ngIf="pwd.hasError('required')" [ngClass]="{'text-danger': pwd.hasError('required')}">
                  Es un campo requerido
                </p>
                <p *ngIf="pwd.hasError('minlength')" [ngClass]="{'text-danger': pwd.hasError('minlength')}">
                  El mínimo de caracteres es de 8
                </p>
                <p *ngIf="pwd.hasError('maxlength')" [ngClass]="{'text-danger': pwd.hasError('maxlength')}">
                  El máximo de caracteres debe es de 16
                </p>
              </ng-container>
              <ng-template #validPwd>
                <p [ngClass]="{'text-success': pwd.valid, 'invisible': pwd.pristine}">
                  Contraseña valida
                </p>
              </ng-template>
              <!-- / respuesta de validacion del pwd / -->
            </div>

          </div>

        </div>



        <div class="card house">
          <div class="card-header text-center">
            <h5>Domicilio <i class="fas fa-house-user"></i></h5>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-road"></i>
                    </span>
                  </div>
                  <input class="form-control" placeholder="calle" name="calle" formControlName="calle" type="text">
                </div>

              </div>
              <!-- respuesta de validacion de calle -->
              <ng-container class="form-group col-12" *ngIf="calle.errors && calle.touched; else validCalle">
                <p *ngIf="calle.hasError('required')" [ngClass]="{'text-danger': calle.hasError('required')}">
                  Es un campo requerido
                </p>
                <p *ngIf="calle.hasError('minlength')" [ngClass]="{'text-danger': calle.hasError('minlength')}">
                  El mínimo de caracteres es de 5
                </p>
                <p *ngIf="calle.hasError('maxlength')" [ngClass]="{'text-danger': calle.hasError('maxlength')}">
                  El máximo de caracteres debe es de 25
                </p>
              </ng-container>
              <ng-template #validCalle>
                <p [ngClass]="{'text-success': calle.valid, 'invisible': calle.pristine}">
                  Calle valida
                </p>
              </ng-template>
              <!-- / respuesta de validacion de calle / -->
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-sort-numeric-up-alt"></i>
                    </span>
                  </div>
                  <input class="form-control" name="numero" formControlName="numero" type="number">
                </div>

              </div>
              <!-- respuesta de validacion de calle -->
              <ng-container class="form-group col-12" *ngIf="numero.errors && numero.touched; else validNumero">
                <p *ngIf="numero.hasError('required')" [ngClass]="{'text-danger': numero.hasError('required')}">
                  Es un campo requerido
                </p>
                <p *ngIf="numero.hasError('min')" [ngClass]="{'text-danger': numero.hasError('min')}">
                  El mínimo de numeración es de 1
                </p>
                <p *ngIf="numero.hasError('max')" [ngClass]="{'text-danger': numero.hasError('max')}">
                  El maximo de numeración es de 9999999
                </p>
              </ng-container>
              <ng-template #validNumero>
                <p [ngClass]="{'text-success': numero.valid, 'invisible': numero.pristine}">
                  Numeración valida
                </p>
              </ng-template>
              <!-- / respuesta de validacion de calle / -->
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fas fa-map-marker-alt"></i>
                    </span>
                  </div>
                  <select class="form-control" formControlName="localidad">
                    <option [ngValue]="'Retiro en Local'" [selected]="isRegister==true">Otro Distrito (Retiro en el local)</option>
                    <option *ngFor="let distrito of guaymallen" [ngValue]="distrito.denominacion">{{distrito.denominacion}}</option>
                  </select>
                </div>
              </div>
              <div class="text-center form-group col-12">
                <button type="button" class="btn btn-success btn-sm" name="button" (click)="setLatLon()">Utilizar mi ubicacion actual!</button>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
    <div class="card-footer text-center">
      <div id="btn-submit" *ngIf="isRegister == true">
        <button form="formUser" type="submit" class="btn btn-primary btn-block" [disabled]="userForm.invalid">Registrarme</button>
      </div>
      <div id="btn-google" *ngIf="isRegister == true">
        <button type="button" class="btn btn-secondary btn-block"  (click)="GoogleRegister()">
          Registrarme con <i class="fab fa-google">oogle</i>
        </button>
      </div>
      <div id="btn-update" *ngIf="isRegister == false">
        <button (click)="onUpdateProfile()" class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Actualizar Perfil</button>
      </div>
      <div class="col-12 mt-5" *ngIf="isRegister == true">
        <p class="mb-0">Ya tiene una cuenta? Inicia sesion <a [routerLink]="[ '/login']">aquí</a></p>
        <p>Al registrarse Acepta los <a [routerLink]="[ '/legal' ]" fragment="service">Terminos de Servicio</a> y <a [routerLink]="[ '/legal' ]" fragment="data">Políticas de Privacidad</a></p>
      </div>
    </div>
  </div>
</div>
